<div class="album-info">
  <img {{bind-attr src=artwork}}>
  <h1>{{name}}</h1>
  <h2>{{artist}}</h2>
</div>

<table class="album-listing">
  {{#each songs}}
    <tr>
      <td class="song-track">
        <span class="track-number">{{this.track}}</span>
      </td>
      <td class="song-name">{{this.name}}</td>
      <td class="song-duration">{{format-duration this.duration}}</td>
    </tr>
  {{/each}}
  <tr>
    <td class="total-duration" colspan="3">Total Time: {{format-duration this.totalDuration}}</td>
  </tr>
</table>